@font-face {
    font-family: Chardons2;
    src: url(./fonts/Chardons2.ttf);
}
@font-face {
    font-family: HelveticaNew;
    src: url(./fonts/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: Helveticathin;
    src: url(./fonts/HelveticaNeueThin.ttf);
}